.no-list-style {
  list-style-type: none;
}

.about-li {
  padding: 0.1em;
}

.about-carddeck {
  padding-right: 1em;
}

.about-card.card {
  min-width: 12rem;
  max-width: 14rem;
  height: 43rem;
  margin: 1rem;
}

.about-card.card .profile-about {
  height: 7rem;
}

.about-card.card .card-footer {
  /*Used by stretched-link to find container*/
  transform: scaleX(1);
}

.spinner-border.about-spinner {
  width: 1rem !important;
  height: 1rem !important;
  border: 0.15em dotted black !important;
}
