.page {
  background-color: #f4f9f9;
  overflow-y: scroll;
  height: calc(100vh - 72px);
}

.navbar-brand,
.nav-link {
  outline: none;
}

.navbar {
  height: 72px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    margin-left: -1rem;
    margin-right: -1rem;
    z-index: 1;
  }
}

.card-deck .card.hover:hover {
  border: 1px solid black !important;
  opacity: 0.9 !important;
  background-color: rgb(250, 250, 250);
}

table.routes-table {
  table-layout: fixed;
}

table.routes-table th,
table.routes-table td {
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
}

.sort-hover:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.page-spinner {
  height: 80%;
  width: 100%;
}

.page-spinner .spinner-border {
  width: 5rem !important;
  height: 5rem !important;
  border: 0.5em dotted black !important;
  border-top-color: transparent !important;
}

.dropdown-menu {
  min-width: 0 !important;
  max-height: 10rem;
  overflow-y: scroll;
  padding: 0 !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

.btn {
  transform: scale(1);
  transition: 0.15s;
}

.btn:active {
  transform: scale(0.96);
}

.btn:focus {
  box-shadow: none !important;
}

.btn-icon {
  line-height: inherit;
  vertical-align: middle;
  cursor: pointer;
  transform: scale(1);
  transition: 0.15s;
}

.btn-icon:active {
  transform: scale(0.85);
}

.badge-pill {
  background: #bdbdbd;
  padding: 1em !important;
  cursor: default;
}

input.model-form {
  border: 1px solid #343a40;
}

hr.thick-hr {
  border-width: 5px;
}
