.models.card-deck .card {
  min-width: 400px;
  max-width: 400px;
  margin-bottom: 15px !important;
  padding: 0 5px;
}

.models.card-deck .card-img-top {
  height: 200px;
  margin: 5px auto;
  width: auto !important;
  max-width: 100%;
}

.models.card-deck .card.hover:hover {
  border: 1px solid black !important;
  opacity: 0.9 !important;
  background-color: rgb(250, 250, 250);
}

.page-div {
  height: 100%;
}
