.search.card-deck .card {
  min-width: 260px;
  max-width: 260px;
  margin-bottom: 15px !important;
  padding: 0 5px;
}

.search.card-deck .card-img-top {
  height: 120px;
  margin: 5px auto;
  width: auto !important;
  max-width: 100%;
}

.search-highlight {
  background: chartreuse;
}
