.splash-page .row:nth-child(1) {
  background-color: #f4f9f9;
}
.splash-page .row:nth-child(2) {
  background-color: #ccf2f4;
}
.splash-page .row:nth-child(3) {
  background-color: #a4ebf3;
}
.splash-page .row:nth-child(4) {
  background-color: #aaaaaa;
}
